:root {
  --max-w: 1200px;
  --padding-desktop: 70px;
  --padding-tablet: 40px;
  --padding-mobile: 20px;
  --padding-sides-desktop: 0 70px 0 70px;
  --padding-sides-tablet: 0 40px 0 40px;
  --padding-sides-mobile: 0 20px 0 20px;
  --padding-top-bottom-desktop: 70px 0 70px 0;
  --padding-top-bottom-tablet: 40px 0 40px 0;
  --padding-top-bottom-mobile: 20px 0 20px 0;
  --margin-desktop: 0 70px 0 70px;
  --margin-tablet: 0 40px 0 40px;
  --margin-mobile: 0 20px 0 20px;
}

.max-w {
  max-width: var(--max-w);
}

.full-w {
  width: 100%;
}

.vw {
  width: 100vw;
}

.min-margin {
  margin: 0 0 0 50px;
}

.padding {
  padding: var(--padding-mobile);
}

.padding-top-bottom {
  padding: var(--padding-top-bottom-mobile);
}

.padding-sides {
  padding: var(--padding-sides-mobile);
}

.margin {
  margin: var(--margin-mobile);
}
