:root {
  --max-w: 1200px;
  --padding: 100px;
}

.max-w {
  max-width: var(--max-w);
}

.full-w {
  width: 100%;
}

.vw {
  width: 100vw;
}

.min-margin {
  margin: 0 0 0 50px;
}

.padding {
  padding: var(--padding);
}
