main {
  background-color: var(--light-grey);
}

input {
  /* border: solid 1px var(--dark-grey); */
}

.account-form {
  background-color: var(--gold);
  padding: 100px 50px 100px 50px;
  margin: 100px 0 100px 0;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* width: 600px; */
  color: var(--white);
}

.account-form h1 {
  text-align: center;
}

.account-form a {
  align-self: flex-end;
}

.got-account {
  display: flex;
  gap: 5px;
}

/* .got-account a {
  color: var(--dark-grey);
} */

.error {
  color: red;
}
