main {
  background-color: var(--light-grey);
}

input {
  border: solid 1px var(--dark-grey);
}

.register-form {
  background-color: var(--beige);
  padding: 100px 50px 100px 50px;
  margin: 100px 0 100px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 600px;
  color: var(--dark-grey);
}

.register-form h1 {
  text-align: center;
}

.register-form a {
  align-self: flex-end;
}

.got-account {
  display: flex;
  gap: 5px;
}

.got-account a {
  color: var(--dark-grey);
}
